body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
background:linear-gradient(90deg,#1e3a8a,#0ea5e9);
padding:60px;
text-align:center;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:white;
color:black;
text-decoration:none;
border-radius:5px;
}

nav{
background:#020617;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
padding:60px;
text-align:center;
}

footer{
background:black;
padding:20px;
text-align:center;
}
